<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryptoLog App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ nav_links['Home'] }}">Home</a></li>
                <li><a href="{{ nav_links['Guide'] }}">Guide</a></li>
                <li><a href="{{ nav_links['Save Notes'] }}">Save Notes</a></li>
                <li><a href="{{ nav_links['All Notes'] }}">All notes</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>